<!doctype html>
<html ng-app>
<head>

  <!-- Meta Data -->
  <title>Store Template</title>

  <!-- CSS -->
  <link rel="stylesheet" type="text/css" href="css/reset.css"></head>
  <link rel="stylesheet" type="text/css" href="css/store.css"></head>

  <!-- Javascript Frameworks + Libraries -->
  <script src="js/libs/angular.min.js"></script>
  <script src="js/libs/jquery.min.js"></script>
  <script src="js/libs/underscore.min.js"></script>

  <!-- Javascript Logic -->
  <script src="js/constructors.js"></script>
  <script src="js/controllers/storeController.js"></script>

</head>
<body>

  <div class="stores" ng-controller="StoreCtrl">
    <div class="store" ng-repeat="store in stores">

      <!-- Sidebar -->
      <aside> 
         <ul class="lined">
            <li class="head">
              {{store.name}}
            </li>
             <li>
              ${{store.inventory.earnings()}} Earned
            </li>
            <li class="head">
                Inventory
            </li>
            <li ng-repeat="item in store.inventory.items"
                data-available="{{item.active()}}" >

              <!--{{item.quantity}}x {{item.name}}-->

              <input type="number" ng-model="item.quantity"/>
              <input type="text" ng-model="item.name"/>
            </li>
         </ul>
      </aside>

      <!-- Listing of items within a store -->
      <div class="inventory">
          <div class="item" 
                ng-repeat="item in store.inventory.items"
                ng-click="item.buy()" 
                data-active="{{item.active()}}">

            <img src="{{item.imageURL}}" />
            <div class="desc">
              <span class="name">{{item.name}}</span>
              <span class="price">${{item.price}}</span>
            </div>

          </div>
      </div>
    </div>
  </div>

</body>
</html>